*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.navigation {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: right;
    padding: 0px 30px;
    transition: 0.5s ease;
   
   
}
 .navigation {
    z-index: 999;
    position: absolute;

} 
.navigation1 img{
    display: flex;
    align-content: left;
    justify-content: left;
    width: 70px;
    margin: 20px 0 0 30px;
}
 .navigation  #navbar{
    z-index: 999;
    float: right;
}
.navigation #navbar li {
    display: inline-block;
    line-height: 30px;
    margin: 10px 30px;
}
.navigation #navbar li  a{
    color: rgb(0, 0, 0);
    font-size: 19px;
    padding: 10px 15px;
 
}
.navigation #navbar li a:hover{
    color: rgb(255, 255, 255);
    transition: .3s;
    
}
.mobile{
    display: none;
    float: right;
    padding: 25px;
    font-size: 30px;
}
.but1 {
    display: none;
}
section{
    padding: 15px 10px;
}
.home{
    position: relative;
    width: 92.5%;
    min-height: 0vh;
    display: flex;
    background: rgb(255, 255, 255);

}
.home:before{
    z-index: 777;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content{
    z-index: 888;
    width: 50%;
    margin-top: 60px;
    
}
.home .content.active{
    display: block;
}
.home .content h1{
    font-size: 4em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 60px 0 0 0px;
    margin-bottom: 20px;
    font-family: caveat;
     color:#092706;
}
.home .content h1 span{
    color: #4ce03e;
    font-family: caveat;

}

.home .content p{
    font-size: 2em;
    margin-bottom: 0px;
    width: 400px;
    color: #331f0a;
    font-family: caveat;
}
.home .content img{
    width: 180px;
    height: 150px;
    padding: 0px;
}
.home .content2 {
    display: flex;
    z-index: 0;
    background-color: #65f52c;
    width: 80%;
    height: 650px;
    margin: -100px;
    border-radius: 100px 0% 0% 80% ;
    
}

.home .content2 .img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 180px 0px 0px 80px;
}
.home .content2 .img1 img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 300px 0px 0px 60px;
}
.home  .content2 .img2 img{
    width: 150px;
    height: 130px;
    border-radius: 50%;
    margin: 470px 0px 0px -20px;
}


@media  (max-width:769px) {
    .navigation{
        display: flex;
        align-items: left;
        justify-content: left;
    }
    .navigation1 {
        display: flex;
        justify-content: center;
        align-items: center;
        /* width: 100%; */
    }
     
    .navigation #navbar  {
        display: flex;
        flex-direction: column;
        line-height: 50px;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 100px;
        right: -500px;
        width: 400px;
        height: 280px;
        margin:-5px 10px 0 100px;
        border: solid;
        background-color:#FFFBFB;
        transition: .3s ease-in-out;
       
    }
    .navigation #navbar li a:hover{
        color: #4ce03e;
        font-size: 1.6em;
    }
    .navigation #navbar.active {
        right: 10px;
    }
   
    .mobile{
        display: block;
    }
    .mobile i{
        font-size: 30px;
        cursor: pointer;
        padding-bottom: 30px;
    }
    section{
        height: fit-content;
        padding: 20px  0px 0px 20px;
    }
    
    .home .content2{
        width: 60%;
        display: flex;
        height: 450px;
        margin-top: -100px;
        margin-left: -40px;
        border-radius: 100% 0% 30% 60% / 70% 0% 2% 40% ;
    }
    .home .content img{
        width: 100px;
        height: 100px;
    }
    .home .content2 .img{
        width: 150px;
        height: 150px;
        margin: 120px 20px 10px 50px ;
    }
    .home .content2 .img1 img {
        width: 50px;
        height: 50px;
        margin: 250px 0px 0px 0px;
    }
    .home .content2 .img2 img {
        width: 100px;
        height: 100px;
        margin: 340px 0px 0px -110px;

    }
    .home .content h1{
        font-size: 2em;
    }
    .home .content p{
        width: 180px;
        font-size: 1.3em;
    }
    .compt{
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
        justify-content: center;

    }
    .compt .history {
        /* margin-top: 300px; */
        margin-right: 0px;
    }
    .compt .history h1{
        font-size: 3em;
    }
    .compt .hip p{
        font-size: 1em;
        margin-top: 200px;
    }

}





